// Navbar colors
$white: #fff;
$black: rgba(0, 0, 0, 0.9);
$border-color: #E5E5E5;
$font-color: #8D8D8D;
$orange-gradient: linear-gradient(135deg,#fc3 20%,#ffb347 80%);
$blue-gradient: linear-gradient(to right, #5dc8de 0%, #859dde 100%);
$insta-gradient: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

