@import '../../../_variables';

label {
  font-weight: bold;
}

h1 {
  font-weight: 100;
	text-align: center;
  position: absolute;
  top: 35%;
	right: 0;
	left: 0;
}

.btn-register {
  background-color: $white;
  color: $black;
  font-weight: bold;
}

.form-control {
  border: 0;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  color: none;
  background-color: none;
  outline: 0 none;
}

.form {
  padding: 30px;
}

.reset {
  padding-top: 10px;
  float: right !important;
  cursor: pointer;
}
